:root {
    --card-color1: #5757b5;
    --color-text: #3a3dcf;
    --card-color2: #ffff;
    --bg-color: #cbcbdb;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: block;
    justify-self: center;
    /* height: 100%; */
    width: 100%;
    margin: 5px;
    background-color: var(--bg-color);
}

.h1 {
    display: flex;
    justify-content: center;
    padding: 10px;
    color: var(--color-text);
}

.head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100px;
    margin-bottom: 30px;
    color: var(--card-color1);
}

h2 {
    margin: 20px;
}

/* toggle switch */

input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
  }
  
  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 120px;
    height: 50px;
    background: var(--color-text);
    display: block;
    border-radius: 100px;
    position: relative;
  }
  
  label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
  }
  
  input:checked + label {
    background: var(--card-color1);
  }
  
  input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }
  
  label:active:after {
    width: 40px;
  }

  /* price container */
  .price-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    padding: 50px 0 50px 0;
    margin: 10px;
    /* height: auto; */
  }

  li {
    padding: 30px;
    font-weight: bold;
    /* text-align: center; */
  }

  .price-items:nth-child(odd) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: center;
    order: 0;
    background-color: var(--card-color2);
    color: var(--color-text);
  }

  .price-items:nth-child(odd) > li{
    border-bottom: 1px solid var(--color-text);
  }

  #card1 > p {
    border-bottom: 1px solid var(--color-text);
  }

  #card3 > p {
    border-bottom: 1px solid var(--color-text);
  }
  
  .price-items:nth-child(even) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    height: 600px;
    padding-top: 55px;
    background-color: var(--card-color1);
  }

  .price-items:nth-child(even) > li{
    border-bottom: 1px solid var(--card-color2);
    color: var(--card-color2);
  }

  .price-items:nth-child(even)> P {
    color: var(--card-color2);
  }

  #card2 > p {
    border-bottom: 1px solid var(--card-color2);
  }

  #card2 >h3 {
    color: var(--card-color2);
  }

/* Price Items and buttons*/
  .price-items {
    width: 380px;
    height: 530px;
    border-radius: 25px;
    list-style: none;
    padding: 20px 40px 20px 40px;
    text-align: center;
  }

  .price-items > h3 {
    font-size: 1.5rem;
    margin: 30px 0 20px 0;
  }

  .price-items > p {
    font-size: 2.8rem;
    font-weight: bold;
    padding-bottom: 20px;
    color: black;
  }

  .bttn {
    margin-top: 30px;
    padding: 15px;
    width: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.1px;
    background-color: var(--card-color1);
    /* background: linear-gradient(to right, #FFFFFF 0%, #3a3dcf 30%); */
    border: none;
    border-radius: 5px;
    color: var(--card-color2);
  }

  /* transitions */
  .bttn:hover {
    color: var(--card-color1);
    background-color: var(--card-color2);
    border: 1px solid var(--color-text);
  }

  #pro {
    color: var(--card-color1);
    background-color: var(--card-color2);
  }

  #pro:hover {
    color: var(--card-color2);
    background-color: var(--card-color1);
    border: 1px solid var(--card-color2);
  }

  #card3:hover {
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.43);
  }
  #card2:hover {
    box-shadow: 1px 10px 15px -1px rgb(0,0,0,0.43);
  }
  #card1:hover {
    box-shadow: -5px 5px 15px -1px rgba(0,0,0,0.43);
  }